extends layout

block content
  h1= title
  - let Giraffeid = toShow._id
  - let Giraffe_breed = toShow.Giraffe_breed
  - let Giraffe_age = toShow.Giraffe_age
  - let Giraffe_heightfeet = toShow.Giraffe_heightfeet

  div
    div.row
      div(class='costumeAttr mr-3') Giraffe ID is:
      div #{Giraffeid}

    div.row
      div(class='costumeAttr mr-3') Giraffe breed is:
      div #{Giraffe_breed}

    div.row
      div(class='costumeAttr mr-3') Giraffe age is:
      div #{Giraffe_age}

    div.row
      div(class='costumeAttr mr-3') Giraffe height is:
      div #{Giraffe_heightfeet}
